{% extends 'base.html' %}

{% block head %}
{{ super() }}

<!-- DataTables CSS -->
<link
    href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.2.2/af-2.7.0/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/date-1.5.5/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.0/sr-1.4.1/datatables.min.css"
    rel="stylesheet" integrity="sha384-Ds1Vklai96R25BXbTa08O+OjpAevmakmGFQNAQECNryYdQ0qbN4CJSMwUSFT+NYe"
    crossorigin="anonymous">

<!-- DataTables JS -->
<script
    src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.2.2/af-2.7.0/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/date-1.5.5/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.0/sr-1.4.1/datatables.min.js"
    integrity="sha384-lGlyEraPH4ouPKo2ethY8Xic4JlIXN/CUbMNpOce3EjRhLuGH732aMGDH7Cv8+VY"
    crossorigin="anonymous"></script>


<script>
    window.embeddedTermsWithCourses = {{ terms_with_courses | tojson }};
</script>
<style>
    .lbl-checkbox {
        display: inline-block;
        padding-right: 5em;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Bulk Enroll Teachers/TAs in Canvas Course</h2>
    <div class="alert alert-warning d-none" id="client-alert">Please select at least one employee.</div>
    <div class="card p-3 mb-3 bg-body-secondary">
        <form id="enrollForm">
            <div class="row mb-2 align-items-end">
                <label for="account" class="form-label col-2">Account:</label>
                <select id="account" class="form-select col">
                    {% for acc in available_accounts %}
                    <option value="{{ acc }}" {% if acc==account %}selected{% endif %}>{{ acc }}</option>
                    {% endfor %}
                </select>
                <div class="col-7">&nbsp;</div>
            </div>            
            <div class="row mb-2 align-items-end">
                <label for="enroll_term_id" class="form-label col-2">Term:</label>
                <select id="enroll_term_id" class="form-select col">
                    <option value="">-- Select Term --</option>
                    {% for t in terms %}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                    {% endfor %}
                </select>
                <div class="col-7">&nbsp;
                </div>
            </div>
            <div class="row mb-2 align-items-end">
                <label for="enroll_course_id" class="form-label col-2">Course:</label>
                <select id="enroll_course_id" class="form-select col">
                    <option value="">-- Select Course --</option>
                </select>
                <div class="col-5">&nbsp;
                </div>
            </div>
            <div class="row mb-2 align-items-end">
                <label for="enroll_section_id" class="form-label col-2">Section (optional):</label>
                <select id="enroll_section_id" class="form-select col">
                    <option value="">-- Entire Course --</option>
                </select>
                <div class="col-5">&nbsp;
                </div>
            </div>
            <div class="row mb-2 align-items-end">
                <label for="role_type" class="form-label col-2">Role:</label>
                <select id="role_type" class="form-select col">
                    <option value="TeacherEnrollment">Teacher</option>
                    <option value="TaEnrollment">TA</option>
                    <option value="ObserverEnrollment">Observer</option>
                    <option value="DesignerEnrollment">Designer</option>
                </select>
                <div class="col-7">&nbsp;
                </div>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="notify">
                <label class="form-check-label" for="notify">Notify users by email</label>
            </div>
            <div class="row align-items-end">
                <div class="col-auto">
                    <button type="button" class="btn btn-success btn-sm" id="enroll-button">
                        Enroll Selected Employees
                    </button>
                </div>
            </div>
        </form>
        <div class="mt-4" id="resultArea"></div>
    </div>

    <table id="employees-table" class="display table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-1">Select</th>
                <th class="col-5">Name</th>
                <th class="col-3">Login ID</th>
                <th class="col-3">Username</th>
            </tr>
        </thead>
        <tbody>
            {% for e in employees %}
            <tr>
                <td class="col-1"><label class="lbl-checkbox"><input type="checkbox" name="employee_ids"
                            value="{{ e.id }}" data-pid="{{ e.sis_user_id }}" {% if not e.sis_user_id %}disabled{% endif
                            %} /></label></td>
                <td class="col-5">{{ e.sortable_name }}</td>
                <td class="col-3">{{ e.login_id }}</td>
                <td class="col-3">{{ e.sis_user_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="module" src="{{ url_for('static', filename='scripts/canvas-enroll-employees.js') }}"></script>
{% endblock %}