<div class="card p-3 mb-3 bg-light" id="filterCard">
    <div class="row mb-2">
        <div class="col-1">
            <h5 class="mb-0">Filters:</h5>
        </div>
        <div class="col">
            {% if selected_class or selected_term or selected_course %}
            <a href="{{ url_for('students.list_students') }}" class="btn btn-outline-secondary btn-sm">Clear
                Filters</a>
            {% endif %}
        </div>
    </div>
    <form method="get" action="{{ url_for('students.list_students') }}" class="mb-3 row g-3 align-items-center"
        id="filter-form">
        <!-- Class Of filter -->
        <div class="col-auto">
            <label for="class_of" class="col-form-label">Class Of:</label>
            <select name="class_of" id="class_of" class="form-select">
                <!-- <select name="class_of" id="class_of" class="form-select" onchange="this.form.submit()"> -->
                <option value="">-- All --</option>
                {% for year in class_years %}
                <option value="{{ year }}" {% if selected_class==year %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Term filter -->
        <div class="col-auto">
            <label for="term" class="col-form-label">Canvas Term:</label>
            <select name="term" id="term" class="form-select">
                <option value="">-- All --</option>
                {% for t in terms %}
                <option value="{{ t.id }}" {% if selected_term==t.id|string %}selected{% endif %}>{{ t.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- Course filter -->
        <div class="col-auto">
            <label for="course_id" class="col-form-label">Course:</label>
            <select id="course_id" name="course_id" class="form-select">
                <option value="">-- All --</option>
                {% for course in courses %}
                <option value="{{ course.id }}" data-course-code="{{ course.course_code }}" {% if
                    selected_course==course.id|string %}selected{% endif %}>
                    {{ course.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <!-- Hidden submit -->
        <input type="submit" style="display:none;">
    </form>
</div>