{% extends 'base.html' %}

{% block head %}
{{ super() }}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables CSS -->
<link
    href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.2.2/af-2.7.0/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/date-1.5.5/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.0/sr-1.4.1/datatables.min.css"
    rel="stylesheet" integrity="sha384-Ds1Vklai96R25BXbTa08O+OjpAevmakmGFQNAQECNryYdQ0qbN4CJSMwUSFT+NYe"
    crossorigin="anonymous">

<!-- DataTables JS -->
<script
    src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.2.2/af-2.7.0/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/date-1.5.5/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.0/sr-1.4.1/datatables.min.js"
    integrity="sha384-lGlyEraPH4ouPKo2ethY8Xic4JlIXN/CUbMNpOce3EjRhLuGH732aMGDH7Cv8+VY"
    crossorigin="anonymous"></script>

<!-- Inject termsWithCourses into the global window object -->
<script>
    window.embeddedTermsWithCourses = {{ terms_with_courses | tojson }};
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h2>All Students</h2>

    {% include "/students/_filter_section.html" %}
    
    <form method="POST" action="{{ url_for('students.generate_photo_cards') }}" id="photo-card-form" target="_blank">
        {{ form.hidden_tag() }}
        <input type="hidden" name="class_of" value="{{ selected_class or '' }}">
        <input type="hidden" name="term" value="{{ selected_term or '' }}">
        <input type="hidden" name="course_id" value="{{ selected_course or '' }}">

        <div class="card p-3 mb-3 bg-secondary-subtle">
            <div class="row mb-2">
                <h5 class="mb-0">Photo Cards:</h5>
                <div class="mb-2 form-group row">
                    <label for="pdf_title" class="col-sm-2 col-form-label">Header Title:</label>
                    <div class="col-sm-5">
                        <input type="text" id="pdf_title" name="pdf_title" class="form-control"
                            placeholder="e.g., SPPS 201 Fall 2025 Class Roster" value="{{ pdf_title or '' }}">
                    </div>
                </div>
                <div class="mb-2 form-group row">
                    <label for="pdf_filename" class="col-sm-2 col-form-label">Filename:</label>
                    <div class="col-sm-5">
                        <input type="text" id="pdf_filename" name="pdf_filename" class="form-control"
                            placeholder="e.g., spps_201_fa25" value="{{ pdf_filename or '' }}">
                    </div>
                </div>
                <div class="col-auto align-self-end">
                    <button type="submit" class="btn btn-primary btn-sm">Generate Photo Cards PDF</button>
                </div>
            </div>
        </div>

        <table id="students-table" class="display table table-bordered table-striped">
            <thead>
                <tr>
                    <th><input type="checkbox" id="check-all" /></th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>PID</th>
                    <th>Class</th>
                    <th>Email</th>
                    {% if has_permission('students+add') or has_permission('students+edit') or
                    has_permission('students+delete') %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for s in students %}
                <tr data-class="{{ s.class_of }}">
                    <td><input type="checkbox" name="student_ids" value="{{ s.id }}" data-pid="{{ s.pid }}" /></td>
                    <td>
                        {% if s.photo_url %}
                        <img src="{{ url_for('static', filename='photos/' ~ s.photo_url) }}" width="60"
                            class="rounded-circle">
                        {% endif %}
                    </td>
                    <td>
                        {{ s.last_name }}, {{ s.first_name }}
                        {% if s.phonetic_last_name or s.phonetic_first_name %}<br />
                        <span class="fst-italic fw-light">{{ s.phonetic_last_name }}, {{ s.phonetic_first_name }}</span>
                        {% endif %}
                        {% if s.pronoun %}<br /><span class="fw-light">{{ s.pronoun }}</span>{% endif %}
                    </td>
                    <td>{{ s.pid }}</td>
                    <td>{{ s.class_of }}</td>
                    <td><a href="mailto:{{ s.email }}">{{ s.email }}</a></td>
                    <td>                        
                        <a href="{{ url_for('students.view_student', student_id=s.id) }}"
                            class="btn btn-sm btn-primary">View</a>
                        
                        {% if has_permission('students+add') or has_permission('students+edit') %}
                        <a href="{{ url_for('students.edit_student', student_id=s.id) }}"
                            class="btn btn-sm btn-primary">Edit</a>
                        {% endif %}
                        {% if has_permission('students+delete') %}
                        <button type="button" class="btn btn-sm btn-danger delete-btn" data-student-id="{{ s.id }}">
                            Delete
                        </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script type="module" src="{{ url_for('static', filename='scripts/students.js') }}"></script>
{% endblock %}