{% extends 'base.html' %}

{% block head %}
{{super()}}
<!-- DataTables CSS -->
<link
    href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.2.2/af-2.7.0/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/date-1.5.5/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.0/sr-1.4.1/datatables.min.css"
    rel="stylesheet" integrity="sha384-Ds1Vklai96R25BXbTa08O+OjpAevmakmGFQNAQECNryYdQ0qbN4CJSMwUSFT+NYe"
    crossorigin="anonymous">

<!-- DataTables JS -->
<script
    src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.2.2/af-2.7.0/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/date-1.5.5/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.0/sr-1.4.1/datatables.min.js"
    integrity="sha384-lGlyEraPH4ouPKo2ethY8Xic4JlIXN/CUbMNpOce3EjRhLuGH732aMGDH7Cv8+VY"
    crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<div class="container mt-4">
    {% if has_permission('listserv+add') or has_permission('listserv+edit') %}
    <h1>Add Google Group/Listserv:</h1>
    <div class="card p-4 mb-3 bg-light" id="addCard">
        <div class="row">
            
            <form method="POST" class="d-flex align-items-center gap-2">
                {{ form.hidden_tag() }}
                <label for="{{ form.group_name.id }}" class="form-label mb-0 text-nowrap">{{ form.group_name.label.text }}</label>
                {{ form.group_name(class="form-control", style="width: 50ch;") }}

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>            
        </div>
    </div>
    {% endif %}
    <h2>Google Groups</h2>
    
    <table id="groups-table" class="table table-bordered align-middle table-striped border rounded table-sm">
        <thead>
            <tr>
                <th>Group Name</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.group_name }}<br>
                    <small class="text-muted">Added: {{ group.create_date.strftime('%Y-%m-%d %H:%M') }}</small>
                </td>
                <form method="POST" action="{{ url_for('google.delete_group', group_id=group.id) }}">
                    <td>
                        <a href="mailto:{{ group.group_name }}"
                            class="btn btn-secondary btn-sm"><i class="bi bi-envelope"></i> Email Group</a>
                        <a href="{{ url_for('google.groups_members_page', group_email=group.group_name) }}"
                            class="btn btn-primary btn-sm"><i class="bi bi-people"></i> View Members</a>
                        {% if has_permission('listserv+delete') %}
                        <button class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')"><i class="bi bi-trash"></i> Delete</button>
                        {% endif %}
                    </td>
                </form>
                {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        $('#groups-table').DataTable({
            order: [[0, 'asc']],  // Sort by "Group Name" ascending
            pageLength: 25
        });
    });
</script>
{% endblock %}