{% extends 'base.html' %}
{% block content %}
<div class="container my-2">
    <h2>Users</h2>

    <a href="{{ url_for('admin.edit_user') }}" class="btn btn-primary mb-3">Create New User</a>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Role</th>
            <th>Manage</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.employee.employee_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role.name if user.role else 'None' }}</td>
            <td>
                <a href="{{ url_for('admin.edit_user', user_id=user.id) }}">Edit</a> |
                <a href="{{ url_for('admin.delete_user', user_id=user.id) }}"
                    onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>


    <!-- <h3>All Defined Permissions</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Resource</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for resource, perms in grouped_permissions.items() %}
      <tr>
        <td>{{ resource }}</td>
        <td>
          {% set all_actions = [] %}
          {% for p in perms %}
          {{ p.action }} {% if not loop.last %} | {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table> -->
</div>
{% endblock %}