{% extends "base.html" %}
{% import "bootstrap/form.html" as wtf %}
{% from 'bootstrap4/form.html' import render_form, render_field %}
{% from 'bootstrap4/utils.html' import render_messages %}

{% block title%}
Committee
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="col-md-6">
        {{ render_messages() }}
        <h2 class="form-signin-heading">{{ 'Edit' if form.name.data else 'New' }} Committee</h2>
        
        <!-- {% if committee is defined %}
        <form class="form-signin" method="POST" action="/committeetracker/base_committee/{{committee.id}}">
            <h2 class="form-signin-heading">Edit Committee</h2>
            {{ form.hidden_tag() }}
            {{ render_field(form.name, value=committee.name, class="form-control mb-2") }}
            {{ render_field(form.short_name, value=committee.short_name, class="form-control mb-2") }}
            {{ form.description.label }}
            <textarea id="mission" name="description" rows="2" cols="80" class="form-control">{{ committee.description }}</textarea>
            {{ render_field(form.committee_type_id, class="form-control mb-2") }} 
            {{ render_field(form.reporting_start, class="form-control mb-2") }}
            {{ render_field(form.frequency_type_id, class="form-control mb-2") }}                       
            {{ form.mission.label }}
            <textarea id="mission" name="mission" rows="5" cols="80" class="form-control">{{ committee.mission }}</textarea>
            <button class="btn btn-primary my-2" type="submit">Save</button>
        </form>
        {% else %} -->
        <form class="form-signin" method="POST" action="/committeetracker/base_committee/new">
            <h2 class="form-signin-heading">Add Committee</h2>
            {{ form.hidden_tag() }}
            {{ render_field(form.name, class="form-control mb-2") }}
            {{ render_field(form.short_name, class="form-control mb-2") }}
            {{ render_field(form.description, rows="2", cols="80") }}
            {{ render_field(form.committee_type_id, class="form-control mb-2") }}   
            {{ render_field(form.reporting_start, class="form-control mb-2") }}
            {{ render_field(form.frequency_type_id, class="form-control mb-2") }}                     
            {{ render_field(form.mission, rows="5", cols="80") }}
            <button class="btn btn-primary my-2" type="submit">Save</button>
        </form>        
        <!-- {% endif %} -->
    </div>
</div>
{% endblock %}