{% extends 'base.html' %}
{% block content %}
<div class="container my-2">
    <h2>Roles</h2>

    <a href="{{ url_for('roles.edit') }}" class="btn btn-primary mb-3">Create New Role</a>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for role in roles %}
        <tr>
            <td>{{ role.name }}</td>
            <td>
                <a href="{{ url_for('roles.edit', role_id=role.id) }}">Edit</a> |
                <a href="{{ url_for('roles.delete', role_id=role.id) }}"
                    onclick="return confirm('Are you sure you want to delete the role \'{{ role.name }}\'? This action cannot be undone.')">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- <h3>All Defined Permissions</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Resource</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for resource, perms in grouped_permissions.items() %}
            <tr>
                <td>{{ resource }}</td>
                <td>
                    {% set all_actions = [] %}
                    {% for p in perms %}
                    {{ p.action }} {% if not loop.last %} | {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
</div>
{% endblock %}