{% extends "base.html" %}
{% from 'bootstrap4/utils.html' import render_messages %}

{% block title%}
Dashboard
{% endblock %}

{% block head %}
{{super()}}
{% block styles %}
{{super()}}
{% endblock %}
{% endblock %}

{% block content %}
<!-- Main content -->
<div class="container">
    <div class="row">
        <div class="col">
            <!-- {{ render_messages() }} -->
            <div class="table-responsive">
                <h2>{{current_year.year}} Committees</h2>
                <div class="dropdown">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        View Academic Year
                    </button>
                    <ul class="dropdown-menu">
                        {% for ay in academic_years if not ay.id == current_year.id %}
                        <li>
                            <a class="dropdown-item"
                                href="{{url_for('committee.ay_committees', academic_year_id = ay.id)}}">
                                {{ ay.year }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <table class="table table-striped mb-3">
                    <thead>
                        <tr>
                            <th>Committees</th>
                            {% if has_permission('ay_committee+view,ay_committee+edit,ay_committee+delete') %}
                            <th>Manage</th>
                            {% endif %}
                        </tr>
                    </thead>

                    {% for com in ay_committees %}
                    <tr>
                        <td>{{ com.committee.name }} {% if com.committee.short_name %}({{ com.committee.short_name }}){%
                            endif %}</td>
                        <td>
                            <a href="{{url_for('committee.members', ay_committee_id = com.id)}}">Members</a>
                            {% if can_edit_committee(com.id, "delete") %} |
                            <a href="{{url_for('committee.delete_ay_committee', ay_committee_id = com.id)}}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">No committees</td>
                    </tr>
                    {% endfor %}
                </table>
                {% if has_permission('ay_committee+add,ay_committee+edit') %}
                <a href="/committee_tracker/ay_committee/new?academic_year_id={{current_year.id}}"
                    class="btn btn-primary">Add New</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- End Main content -->
{% endblock %}