{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field %}
{% from 'bootstrap5/utils.html' import render_messages %}

{% block title%}
Committee
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="col-md-6">
        
        <form class="form-signin" method="POST" action="/committee_tracker/ay_committee/new">
            <h2 class="form-signin-heading">Add Committee</h2>
            {{ form.hidden_tag() }}
            {{ render_field(form.academic_year_id) }}
            {{ render_field(form.committee_id) }}
            {{ render_field(form.meeting_frequency_type_id) }}
            {{ render_field(form.meeting_duration_in_minutes) }}
            {{ render_field(form.supplemental_minutes_per_frequency) }}
            <button class="btn btn-primary" type="submit">Save</button>
        </form>        
    </div>
</div>
{% endblock %}